*{
    top:0;
    padding: 0;
}

#img-1{

    margin-left: 13%;

}
#mb-3{
    font-size: xx-large;
    margin-left: 25%;
 }
 #mb-33{
     margin-left: 7%;
  }
.nav-link{
    color:#010101;
}

.nav-link:hover{
    color: darksalmon;
}

#navbarRightAlignExample{
    margin-right: 23%;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-spacing: 20%;
    
}
#home{
    color: darksalmon;
}

#img-2{
    background-image: url('https://cdn.pixabay.com/photo/2018/11/29/21/19/hamburg-3846525_1280.jpg');
    width:100%; 
    height:800px;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}
.play-btn-39282 {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.1);
}
.play-btn-39282 > span {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%); }
  .play-btn-39282:hover {
    background: #fff; }
    .play-btn-39282:hover > span {
      color: #000; 
    }

    #marg{
        padding:200px;  
        padding-left: 300px;
        position: relative;
        animation-name: example;
        animation-duration: 3.5s;
        top:200px;
      
      }
      
      @keyframes example{
        
        
        50%  { left:0px; top:200px;}
      25% { left:0px; top:0px;}
      }
#story{
    color: rgba(169, 169, 169, 0.234);
    font-weight:1000;
    font-size:550%;
    padding-left: 250px;
    padding: 200px;
}
#story1{
    color:rgb(214, 173, 69);
    position: absolute;
    top:399%;
    font-size: small;
    font-weight:1000;
    margin-left: 210px;
}
#story2{
    
    position: absolute;
    top:402%;
    font-weight:normal;
    margin-left: 210px;
}
#story3{
    
    position: absolute;
    top:415%;
    font-weight:normal;
    margin-left: 210px;
}
#story4{
    
    position: absolute;
    top:430%;
    font-weight:normal;
    margin-left: 210px;
}
#img{
    height:600px;
    position: relative;
    animation-name:man;
    animation-duration: 20s;
}
@keyframes man {
    0%   { color:rgba(122, 109, 109, 0.792); left:0px; top:0px;}
    25%  {left:150px; top:0px;}
    75%  { left:0px; top:0px;}
}
#journey{
    text-align: center;
}
#j1{
    color: rgba(169, 169, 169, 0.234);
    font-weight:1000;
    font-size:650%;
    padding-left: 250px;
    padding: 200px;
}
#j2{
    
    color:rgb(214, 173, 69);
    position: absolute;
    top:165%;
    font-size: small;
    font-weight:1000;
    margin-left: 705px;
}
#j3{
    
    position: absolute;
    top:170%;
    font-size:250%;
    font-weight:normal;
    margin-left: 525px;
}
#roww{
    background-color: chartreuse;
}
#dd{
    background-color: crimson;
    height:3px;
    width: 20px;;
}
#divv{
    position: absolute;
    top:358%;
    margin-left: 11%;
    font-size: 12px;
    display: inline-block;
    padding: 5px 30px;
    background: #efba6c;
    border-radius: 30px;
    color: #fff;
    letter-spacing: .2em;
    text-transform: uppercase;
}
#divv:hover{
    color: #364d59;
    background-color: beige;
}
#dig{
    position: absolute;
    top:366%;
    margin-left: 5%;
    color: #fff;
}





.gallery {
	display: grid;
	list-style-type: none;
	padding: 100;
	margin: 0;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-auto-rows: 250px;
	grid-auto-flow: dense;
    margin-left: 7%;
    
    }
.tall {
	grid-row: span 2;
}

.tal-l {
	grid-row: span 2;
    position:absolute;
    top:2001px;
    width:30%;
    height:77%;
	

}
#i-mg{
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
.gallery li {
	overflow: hidden;
}
.gallery img {
	transform: scale(1);
	transition: transform .3s ease-in-out;
}
.gallery img:hover {
	transform: scale(1.2);
}



.listing-item-content {
    position: absolute;
    bottom: 20px;
    padding-left:11%;
    padding-right: 20px;
    z-index: 2;
    width: 100%;
    top:270%;
}
.listing-item-content .category {
    font-size: 12px;
    display: inline-block;
    padding: 5px 30px;
    background: #efba6c;
    border-radius: 30px;
    color: #fff;
    letter-spacing: .2em;
    text-transform: uppercase;
}
#h21 {
    color: #fff;
    position: absolute;
    top:275%;
    margin-left: 5%;

}
#h22 {
    color: #fff;
    position: absolute;
    top:275%;
    margin-left: 35%;

}
#h23 {
    color: #fff;
    position: absolute;
    top:275%;
    margin-left: 70%;

}
#h24 {
    color: #fff;
    position: absolute;
    top:358%;
    margin-left: 5%;

}
#h25 {
    color: #fff;
    position: absolute;
    top:358%;
    margin-left: 35%;

}
#h26 {
    color: #fff;
    position: absolute;
    top:358%;
    margin-left: 70%;

}

.listing-item-content1 {
    position: absolute;
    margin-left: 40%;
    z-index: 2;
    width: 100%;
    top:-60%;
}
.listing-item-content1 .category1 {
    font-size: 12px;
    display: inline-block;
    padding: 5px 30px;
    background: #efba6c;
    border-radius: 30px;
    color: #fff;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.listing-item-content2 {
    position: absolute;
    bottom: 0px;
    margin-left:40%;
    padding-right: 0px;
    z-index: 2;
    width: 100%;
    top:-60%;
}
.listing-item-content2 .category2 {
    font-size: 12px;
    display: inline-block;
    padding: 5px 30px;
    background: #efba6c;
    border-radius: 30px;
    color: #fff;
    letter-spacing: .2em;
    text-transform: uppercase;
}
.listing-item-content3 {
    position: absolute;
    bottom: 0px;
    margin-left:35%;
    padding-right: 0px;
    z-index: 2;
    width: 100%;
    top:-60%;
}
.listing-item-content3 .category3 {
    font-size: 12px;
    display: inline-block;
    padding: 5px 30px;
    background: #efba6c;
    border-radius: 30px;
    color: #fff;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.listing-item-content4 {
    position: absolute;
    bottom: 0px;
    margin-left:40%;
    padding-right: 0px;
    z-index: 2;
    width: 100%;
    top:-60%;
}
.listing-item-content4 .category4 {
    font-size: 12px;
    display: inline-block;
    padding: 5px 30px;
    background: #efba6c;
    border-radius: 30px;
    color: #fff;
    letter-spacing: .2em;
    text-transform: uppercase;
}
.listing-item-content5 {
    position: absolute;
    bottom: 20px;
    margin-left:40%;
    z-index: 2;
    width: 100%;
    top:-60%;
}
.listing-item-content5 .category5 {
    font-size: 12px;
    display: inline-block;
    padding: 5px 30px;
    background: #efba6c;
    border-radius: 30px;
    color: #fff;
    letter-spacing: .2em;
    text-transform: uppercase;
}
#journey1{
    text-align: center;
}
#j11{
    color: rgba(169, 169, 169, 0.234);
    font-weight:1000;
    font-size:650%;
    padding-left: 250px;
    padding: 200px;
}
#j22{
    
    color:rgb(214, 173, 69);
    position: absolute;
    top:504%;
    font-size: small;
    font-weight:1000;
    margin-left:580px;
}
#j33{
    
    position: absolute;
    top:507%;
    font-size:250%;
    font-weight:normal;
    margin-left: 480px;
}
.social_29128 a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(239, 186, 108, 0.2);
    position: relative;
}

.social_29128 a span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.testimonial-39191 {
    background: #efba6c;
    padding: 50px;
    font-size: 20px;
    margin-bottom: 30px;
    position: relative;
}

.owl-item{
    margin-left: 10%;
}
.slide-one-item .owl-dots .owl-dot > span {
    display: inline-block;
    width: 7px;
    height: 7px;
    transition: all 0.3s cubic-bezier(0.32, 0.71, 0.53, 0.53) 0s;
    border-radius: 4px;
    background: rgba(239, 186, 108, 0.4);
    margin: 3px;
}
.slide-one-item .owl-dots .owl-dot.active > span {
    width: 20px;
    background: rgb(239, 186, 108);
}
#journey2{
    text-align: center;
}
#j21{
    color: rgba(169, 169, 169, 0.234);
    font-weight:1000;
    font-size:650%;
    padding-left: 250px;
    padding: 200px;
}
#j12{
    
    color:rgb(214, 173, 69);
    position: absolute;
    top:664%;
    font-size: small;
    font-weight:1000;
    margin-left:700px;
}
#j23{
    
    position: absolute;
    top:667%;
    font-size:250%;
    font-weight:normal;
    margin-left: 560px;
}

#journey3{
    text-align: center;
}
#j41{
    color: rgba(169, 169, 169, 0.234);
    font-weight:1000;
    font-size:650%;
    padding-left: 250px;
    padding: 200px;
}
#j42{
    
    color:rgb(214, 173, 69);
    position: absolute;
    top:786%;
    font-size: small;
    font-weight:1000;
    margin-left:695px;
}
#j43{
    
    position: absolute;
    top:790%;
    font-size:250%;
    font-weight:normal;
    margin-left: 650px;
}

.blank,
.other {
  width: 100%;
  min-height: 30vh;
  background-color: var(--color);
}

.second {
  background-image:url(https://wallup.net/wp-content/uploads/2017/11/23/522567-men-nature-landscape-mountains-clouds-Iceland-river-sun_rays-hills-rock.jpg);
  background-attachment: fixed;
  height: 400px;
  width:100%;
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}

.second {
  flex-direction: row;
  gap: 1.6em;
  color: #fff;
  text-align: center;
  padding-top: 10%;
}
#cc{
    width: 75%;
    margin-left: 13%;
}
#btn{
    background-color: #efba6c;
    padding: 1%;
    color: #fff;
    border-radius: 10px;
}

#btn:hover{
    background-color: #f0c17ba5;
    color: black;
}
#sm{
    width:100%;
    height:50px;
}

#btn-1{
    background-color: #efba6c;
    padding: 5%;
    padding-left:10% ;
    padding-right:10% ;
    color: #fff;
    border-radius: 10px;
}
